body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5dc;
}

.app-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2em);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  background-color: #e5e5cc;
}

.app-bar-title {
  margin: 0;
  font-size: 1.5em;
  margin-right: 1em;
}

.hamburger-menu {
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 20px;
  display: flex;
  flex-flow: column nowrap;
}

.nav-bar {
  display: absolute;
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 1em;
  flex-flow: row nowrap;
}

.nav-bar.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: #777;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-link-bold {
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.prompt-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3em;
  margin: 0 0 0.25em;
}

.subtitle {
  font-size: 1.5em;
  margin: 0;
  color: #777;
}

.small-subtitle {
  font-size: 1em;
  margin: 0;
  color: #aaa; /* Even lighter color for the small subtitle */
}

.prompt-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.prompt-item {
  background: #e5e5cc; /* #f0f0f0; */
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.prompt-index {
  font-weight: bold;
  margin-right: 5px;
}

.prompt-text {
  font-size: 1em;
}

.scroll-message {
  position: absolute;
  bottom: 16px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #888;
}

.all-prompts-header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
  width: 100%; /* Ensure it takes full width */
  margin: 2em 0 0; /* Add some margin for spacing */
}

.footer {
  font-size: 0.8em; /* Small font size */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some margin at the top */
  color: #555; /* Darker color for the text */
}

@media (max-width: 950px) {
  .hamburger-menu {
    display: block;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
    background-color: #e5e5cc;
  }

  .nav-bar.open {
    display: flex;
  }

  .nav-link {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}